/* fullmap.css */
/* mastermind */

/*-----------------------*/
/* Make the Map full screen */
/*------------------------*/

html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; background-color:red;}
h1 {color:red;}